body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:30px;
  width:310px;
  height:490px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:490px;
}
#u1 {
  position:absolute;
  left:2px;
  top:237px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:60px;
  width:310px;
  height:110px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:47px;
  width:306px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:34px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:40px;
  top:344px;
  width:310px;
  height:140px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:140px;
}
#u7 {
  position:absolute;
  left:2px;
  top:62px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:60px;
  top:354px;
  width:35px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:51px;
  top:396px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:146px;
  top:354px;
  width:32px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:137px;
  top:396px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:219px;
  top:356px;
  width:32px;
  height:32px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:210px;
  top:398px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:296px;
  top:356px;
  width:32px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:287px;
  top:398px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:60px;
  top:422px;
  width:32px;
  height:32px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:51px;
  top:464px;
  width:53px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:144px;
  top:422px;
  width:32px;
  height:32px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:136px;
  top:464px;
  width:53px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:219px;
  top:422px;
  width:32px;
  height:32px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:207px;
  top:464px;
  width:66px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:54px;
  top:487px;
  width:26px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:56px;
  top:507px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:174px;
  top:487px;
  width:23px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:166px;
  top:507px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:299px;
  top:487px;
  width:26px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:301px;
  top:507px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:410px;
  top:170px;
  width:200px;
  height:100px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:43px;
  top:170px;
  width:300px;
  height:174px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:174px;
}
#u51 {
  position:absolute;
  left:2px;
  top:79px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
