body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:30px;
  width:310px;
  height:490px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:490px;
}
#u1 {
  position:absolute;
  left:2px;
  top:237px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:34px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:40px;
  top:53px;
  width:310px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u5 {
  position:absolute;
  left:44px;
  top:33px;
  width:20px;
  height:23px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:54px;
  top:107px;
  width:50px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:117px;
  top:112px;
  width:92px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:54px;
  top:184px;
  width:50px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:117px;
  top:189px;
  width:66px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:117px;
  top:128px;
  width:10px;
  height:10px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:131px;
  top:126px;
  width:61px;
  height:16px;
  font-size:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:117px;
  top:144px;
  width:10px;
  height:10px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:131px;
  top:142px;
  width:99px;
  height:16px;
  font-size:10px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:117px;
  top:207px;
  width:10px;
  height:10px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:131px;
  top:205px;
  width:61px;
  height:16px;
  font-size:10px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:117px;
  top:223px;
  width:10px;
  height:10px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:131px;
  top:221px;
  width:99px;
  height:16px;
  font-size:10px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:320px;
  top:34px;
  width:30px;
  height:23px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:70px;
  top:63px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:228px;
  top:63px;
  width:32px;
  height:26px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:79px;
  width:310px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u38 {
  position:absolute;
  left:117px;
  top:158px;
  width:10px;
  height:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:137px;
  top:156px;
  width:91px;
  height:16px;
  font-size:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:117px;
  top:239px;
  width:10px;
  height:10px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:137px;
  top:237px;
  width:91px;
  height:16px;
  font-size:10px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:410px;
  top:84px;
  width:200px;
  height:100px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u47 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
