body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:20px;
  width:310px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:24px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:80px;
  top:43px;
  width:310px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u5 {
  position:absolute;
  left:84px;
  top:23px;
  width:20px;
  height:23px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:80px;
  top:69px;
  width:310px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u8 {
  position:absolute;
  left:90px;
  top:97px;
  width:40px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:96px;
  top:109px;
  width:34px;
  height:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:140px;
  top:110px;
  width:53px;
  height:13px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:240px;
  top:50px;
  width:70px;
  height:22px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14_input:disabled {
  color:grayText;
}
#u15 {
  position:absolute;
  left:101px;
  top:50px;
  width:70px;
  height:22px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u15_input:disabled {
  color:grayText;
}
#u16 {
  position:absolute;
  left:310px;
  top:110px;
  width:35px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:96px;
  top:170px;
  width:40px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:102px;
  top:182px;
  width:34px;
  height:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:146px;
  top:183px;
  width:66px;
  height:13px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:316px;
  top:183px;
  width:28px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:230px;
  top:110px;
  width:55px;
  height:16px;
  color:#008000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:230px;
  top:194px;
  width:55px;
  height:16px;
  color:#008000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:420px;
  top:20px;
  width:200px;
  height:100px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
