body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:20px;
  width:310px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:24px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:90px;
  top:43px;
  width:310px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u5 {
  position:absolute;
  left:94px;
  top:23px;
  width:20px;
  height:23px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:192px;
  top:63px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6633;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:129px;
  top:97px;
  width:207px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:90px;
  top:130px;
  width:310px;
  height:270px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:270px;
}
#u12 {
  position:absolute;
  left:2px;
  top:127px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:104px;
  top:417px;
  width:46px;
  height:43px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:174px;
  top:417px;
  width:46px;
  height:43px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:260px;
  top:417px;
  width:46px;
  height:43px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:113px;
  top:432px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:183px;
  top:430px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:269px;
  top:426px;
  width:27px;
  height:32px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:80px;
  top:530px;
  width:200px;
  height:150px;
  overflow:hidden;
}
#u25_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:158px;
  top:560px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:130px;
  top:586px;
  width:105px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:90px;
  top:627px;
  width:65px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:200px;
  top:627px;
  width:65px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32 {
  position:absolute;
  left:460px;
  top:20px;
  width:310px;
  height:460px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:460px;
}
#u33 {
  position:absolute;
  left:2px;
  top:222px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:570px;
  top:24px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:460px;
  top:43px;
  width:310px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u37 {
  position:absolute;
  left:464px;
  top:23px;
  width:20px;
  height:23px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:562px;
  top:63px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6633;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:499px;
  top:97px;
  width:207px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:460px;
  top:130px;
  width:310px;
  height:270px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:270px;
}
#u44 {
  position:absolute;
  left:2px;
  top:127px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:474px;
  top:417px;
  width:46px;
  height:43px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:544px;
  top:420px;
  width:46px;
  height:43px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:634px;
  top:420px;
  width:46px;
  height:43px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:483px;
  top:432px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:553px;
  top:434px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:644px;
  top:430px;
  width:27px;
  height:32px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:555px;
  top:530px;
  width:200px;
  height:150px;
  overflow:hidden;
}
#u57_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u57_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:633px;
  top:560px;
  width:27px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:605px;
  top:586px;
  width:105px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:565px;
  top:627px;
  width:65px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u63 {
  position:absolute;
  left:675px;
  top:627px;
  width:65px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u64 {
  position:absolute;
  left:860px;
  top:20px;
  width:310px;
  height:460px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:460px;
}
#u65 {
  position:absolute;
  left:2px;
  top:222px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:970px;
  top:24px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:860px;
  top:43px;
  width:310px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u69 {
  position:absolute;
  left:864px;
  top:23px;
  width:20px;
  height:23px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:890px;
  top:53px;
  width:42px;
  height:16px;
  color:#FF0000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:1048px;
  top:53px;
  width:21px;
  height:16px;
  color:#000000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:860px;
  top:69px;
  width:310px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u76 {
  position:absolute;
  left:940px;
  top:58px;
  width:10px;
  height:10px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1075px;
  top:56px;
  width:10px;
  height:10px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u79 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:870px;
  top:97px;
  width:40px;
  height:40px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u81 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:876px;
  top:109px;
  width:28px;
  height:16px;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:910px;
  top:87px;
  width:122px;
  height:13px;
  font-size:10px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:13px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:910px;
  top:100px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:910px;
  top:113px;
  width:122px;
  height:13px;
  font-size:10px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:13px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:910px;
  top:126px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:334px;
  top:420px;
  width:46px;
  height:43px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u93 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:343px;
  top:430px;
  width:27px;
  height:32px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:709px;
  top:420px;
  width:46px;
  height:43px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u97 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:718px;
  top:430px;
  width:27px;
  height:32px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
