body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:30px;
  width:310px;
  height:490px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:490px;
}
#u1 {
  position:absolute;
  left:2px;
  top:237px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:34px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:40px;
  top:480px;
  width:310px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u5 {
  position:absolute;
  left:54px;
  top:487px;
  width:26px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:56px;
  top:507px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:174px;
  top:487px;
  width:23px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:166px;
  top:507px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:299px;
  top:487px;
  width:26px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:301px;
  top:507px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:40px;
  top:53px;
  width:310px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u18 {
  position:absolute;
  left:44px;
  top:33px;
  width:20px;
  height:23px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:54px;
  top:115px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:117px;
  top:117px;
  width:79px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:54px;
  top:189px;
  width:50px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:117px;
  top:194px;
  width:66px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:117px;
  top:133px;
  width:10px;
  height:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:131px;
  top:131px;
  width:61px;
  height:16px;
  font-size:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:117px;
  top:149px;
  width:10px;
  height:10px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:131px;
  top:147px;
  width:99px;
  height:16px;
  font-size:10px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:117px;
  top:212px;
  width:10px;
  height:10px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:131px;
  top:210px;
  width:61px;
  height:16px;
  font-size:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:117px;
  top:228px;
  width:10px;
  height:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:131px;
  top:226px;
  width:99px;
  height:16px;
  font-size:10px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:440px;
  top:30px;
  width:310px;
  height:490px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:490px;
}
#u45 {
  position:absolute;
  left:2px;
  top:237px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:550px;
  top:34px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:440px;
  top:480px;
  width:310px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u49 {
  position:absolute;
  left:454px;
  top:487px;
  width:26px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:456px;
  top:507px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:574px;
  top:487px;
  width:23px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:566px;
  top:507px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:699px;
  top:487px;
  width:26px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:701px;
  top:507px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:440px;
  top:53px;
  width:310px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u62 {
  position:absolute;
  left:444px;
  top:33px;
  width:20px;
  height:23px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:49px;
  top:73px;
  width:263px;
  height:27px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:312px;
  top:73px;
  width:28px;
  height:27px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
